.yer {
  margin-top: 200px;
  margin-right: 220px;
  margin-left:  220px;
}

body{
    font:14px arial;
    line-height:1.5em;
  }
  
  input{
    padding:4px 8px;
    font-size:14px;
  }
  
  span{
    color:red;
  }
  
  span.dogru{
    color:blue;
  }