.dropdown {

    margin-top: 200px;
    margin-left: 80px;
}

.btn.btn-warning {
    width: 450px;
    height: 150px;
    color:rgb(15, 14, 14);
    font-weight:bold;
    font-size:20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 3px 3px 4px #000;
    
}

.kutu1 {

    margin-top: 200px;
    margin-left: 380px;
}

.bg {
    background-image: url(./kaleici.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

