
  <nav class="navbar navbar-expand-lg navbar-dark  bg-primary sticky-top" style="height: 90px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BİLETLE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn  btn-dark mx-3 btn-lg" type="submit"><a class="link-light"  routerLink="/"> <i class="fa-solid fa-house"></i> Home</a></button>
          </li>
          
         </ul>
         <button class="btn btn-dark btn-lg" type="submit" ><a class="link-light" routerLink="/order"><i class="fa-solid fa-tag"></i>

          Siparişlerim</a></button>
        
            <button class="btn btn-dark btn-lg mx-3" type="submit" ><a class="link-light"  routerLink="/basket">
              <i class="fa-solid fa-basket-shopping"></i> Sepetim</a></button>
       
          
          <button class="btn btn-dark mx-3 btn-lg" type="submit">
            <i class="fa-solid fa-right-to-bracket"></i> Giriş Yap</button>
        
      </div>
    </div>
  </nav>
